[Desktop Entry]
Version=1.0
Type=Application
Name=Chaos Crew
Comment=Cooperative 2D Platformer Game
Exec=/usr/games/chaos-crew/game
Path=/usr/games/chaos-crew
Icon=chaos-crew
Terminal=false
Categories=Game;ArcadeGame;
Keywords=game;platformer;cooperative;2d;
